<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{"foodRecognition"|translate}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page14">
  <ion-card *ngFor="let item of displayItems">
    <img [src]="'data:image/png;base64,' + item.imageData"/>
    <ion-card-content>
      <ion-list no-lines>
        <ion-list-header>Labels</ion-list-header>
        <ion-item *ngFor="let food of displayFoods">{{food.name}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab bottom right>
    <button ion-fab (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
  </button>
  </ion-fab>
</ion-content>