<!-- Food Diary -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{"foodDiary"|translate}} 
    </ion-title>
    <ion-buttons right >
      <button ion-button (click)="goToSubmitExpense()">
    <ion-icon name="add"></ion-icon>
  </button>
  </ion-buttons>
 
  </ion-navbar>
</ion-header>

<ion-content padding id="page5">
    
  <ion-list id="viewExpenses-list3">
      <ion-item class="item-category-height" >
          <ion-label>Category</ion-label>
          <ion-select [(ngModel)]="expenses.date">
              <ion-option  *ngFor="let cat of categories"  >
                {{cat}}
              </ion-option>
              </ion-select>
      </ion-item>
      
      <ion-item > <b>Your recommended Calories are : {{recommendedCal.calories}} </b> </ion-item>
    <ion-item-sliding *ngFor = "let expenseItem of expenses|groupBy: 'dateOnly'" >
      
      <ion-item color="none">
           
          <h1>{{expenseItem.category}}</h1>
           <!-- 2000 kCal (Recommended) - 1800 kCal (Eaten Today)= 200 kCal (Well Done!) -->

 
           <!-- Date Header -->
           <ion-list-header color="light"  no-lines  >
              <ion-icon item-right name="arrow-forward" (click)="goToDailyCharts(expenseItem)"></ion-icon>
              <ion-icon item-left name="checkmark-circle" *ngIf="expenseItem.tick " class ="icon-tick" ></ion-icon>
              <ion-icon item-left name="close-circle" *ngIf="expenseItem.cross" class ="icon-cross" ></ion-icon>
              <h1>{{expenseItem.key}}</h1>
    
              <!-- -->  
                  (Total Calories: {{expenseItem.tCalories}})
    
            </ion-list-header>
              
           
        <ion-item *ngFor="let foodDiary of expenseItem.list"  (click)="goToExpenseDetail(foodDiary)">
        <p>{{foodDiary.merchant}}</p>
        <p>{{foodDiary.foodName}} </p>
        <!-- <p>{{foodDiary.date | date: 'HH:mm'}}</p> -->
        <p>{{foodDiary.category}}</p>
        <p>{{foodDiary.group}}</p>
           </ion-item>
        
        
        <ion-icon item-end color="primary" name="{{expenseItem.favIcon}}" (click)="toggleFav(foodDiary)"></ion-icon>

          

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteItem(expenseItem)">
           <ion-icon name="trash"></ion-icon>
        </button>
       </ion-item-options>
            
        </ion-item>    
                
    </ion-item-sliding>

     <!-- <ion-item *ngFor = "let expenseItem of expenses|groupBy: 'category'" >
           <ion-item>
           <h1>{{expenseItem.key}}</h1> 
           </ion-item>
           </ion-item> -->
  </ion-list>
</ion-content>