<!-- Food Diary -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{"foodDiary"|translate}} 
    </ion-title>
    <ion-buttons right >
      <button ion-button (click)="goToSubmitExpense()">
    <ion-icon name="add"></ion-icon>
  </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding id="page5">
  <ion-list id="viewExpenses-list3">
    <ion-item-sliding *ngFor = "let expenseItem of expenses|groupBy: 'dateOnly'" >
       
      <ion-item color="none">
         <!-- <h1>{{expenseItem.key | date: 'dd/MM/yyyy'}}</h1>  -->
         <!-- <p>{{expenseItem.list| caloriesCal}}</p> -->
         <!-- <h1>{{expenseItem.category}}</h1> -->
         <ion-item-divider color="light" (click)="goToDailyCharts()">
         <h1>{{expenseItem.key }}</h1>
         <!-- 2000 kCal (Recommended) - 1800 kCal (Eaten Today)= 200 kCal (Well Done!) -->
        </ion-item-divider>
        <ion-item *ngFor="let foodDiary of expenseItem.list" (click)="goToExpenseDetail(foodDiary)">
        <p>{{foodDiary.merchant}} </p>
        <p>{{foodDiary.foodName}} </p>
        <!-- <p>{{foodDiary.date | date: 'HH:mm'}}</p> -->
        <p>{{foodDiary.category}}</p>
        <p>{{foodDiary.group}}</p>
     
       </ion-item>
        <ion-icon item-end color="primary" name="{{expenseItem.favIcon}}" (click)="toggleFav(foodDiary)"></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteItem(foodDiary)">
           <ion-icon name="trash"></ion-icon>
        </button>
       </ion-item-options>
                
     </ion-item-sliding>        



  </ion-list>
</ion-content>